html, body {  margin: 0; height: 100%; }
body {
    /*
    background: url(/assets/images/site-background.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    */
    padding-top: 9rem;
    background: #c0dbec;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 150px;
}

@media (max-width: 575px) {
    .navbar-toggleable>.container { margin-left:0; margin-right:0 }

}

@media (max-width: 960px) {
    .navbar-nav .nav-link { font-size: 15px; }
}

#header {padding: 2.0rem 1rem; }
#header .nav-item{ text-transform: uppercase; font-weight: 700;}

#header.navbar-toggleable .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar-brand { font-weight: bold; }
.social-icons a { display: inline-block; color: #eeeeee; padding: 0 20px 0 0; text-decoration: none }
.social-icons a:hover {
    color: #c0dbec;
}
#particlesBackground {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.personalImage {
    max-width: 100%;
}

#footer {
    padding: 2.0rem 1rem;
    height: 100px;
    margin-top: -100px;
}
